* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
}

header,
footer {
  background-color: #336699;
  color: #fff;
  padding: 10px;
}

img {
  display: block;
  max-width: 100%;
}

main {
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Добавьте дополнительные стили по необходимости */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  min-width: 200px;
  width: 400px;
  object-fit: contain;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  cursor: pointer;
  color: #f41;
  text-decoration: underline;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 20px;
  align-items: center;
}

.footer-icon-container {
  display: flex;
  gap: 20px;
}

.footer-social-icon {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.footer-social-icon:hover {
  filter: invert(50%);
}

.function-block {
  border: red solid 2px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

table,
th,
td {
  border: 1px solid;
}

td {
  height: 80px;
  width: 120px;
  text-align: center;
}
